/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    background-color: #E4E4E4;
    margin: 0px;
    text-align: center;
    font-size: 2em;
}

@font-face {
    font-family: 'Walkway';
    src: url('fonts/Walkway_SemiBold.ttf') format('truetype');
}

body, * {
    font-family: 'Walkway', Helvetica;
}

a {
    color: #121007;
    text-decoration: none;
}

ul li {
    list-style: none;
    border-bottom: 1px solid #E4E4E4;
}

ul li a {
    display: block;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input, button, h1#brand {
    font-size: 0.8em;
    padding: 0.2em;
}

button {
    text-align: center;
    text-shadow: 0pt 1px 1px rgba(255, 255, 255, 0.75);
    background-color: rgb(245, 245, 245);
    background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(230, 230, 230));
    box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.2) inset, 0pt 1px 2px rgba(0, 0, 0, 0.05);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(179, 179, 179);
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

#app {
    margin: 0 15%;
    padding: 10px 10px 1em 10px;
    background-color: #fff;
}

header {
    font-size: 0.6em;
}

h1#brand {
    font-size: 1em;
    width: 25%;
    text-align: left;
    float: left;
}

#connect {
    width: 70%;
    margin-bottom: 1em;
    float: right;
    text-align: right;
}

#connect form input {
    width: 4em;
    font-family: monospace;
}

#items {
    margin-top: 0.5em;
}

#data form input {
    width: 80%;
}
#data form button {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* portrait tablet */
@media (max-width: 768px) {
    header {
        font-size: 0.5em;
    }
    #data form input {
        width: 60%;
    }
    #data form button {
        width: 30%;
    }
    body {
        background-color: #fff;
    }
    #app {
        margin: 0px;
    }
}
